QWidget {
    background-color: #13151b;
}

QTableWidget {
    background-color: #13151b;
    color: #2f4a84;
    border: 2px solid #6b8378;
    font-family: "Garamond";
    font-size: 16px;
    padding: 2px;
}

QHeaderView::section {
    background-color: #8a9291;
    color: #282C34;
    font-family: "Garamond";
    font-size: 14px;
    font-weight: bold;
    border: none;
}

QPushButton {
    background-color: #26324c;
    color: white;
    border: 2px solid #6b8378;
    font-size: 14px;
    font-family: "Garamond";
    padding: 6px;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #6b8378;
    color: black;
}
QPushButton:pressed {
    background-color: #cdcdc2;
    color: black;
}